body {
  background-color: #f2faef;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  max-width: 28rem;
}

.wrapper {
  border: 1px solid rgb(224, 224, 224);
  padding: 24px;
  border-radius: 8px;
  background: white;
  box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.6);
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 4px;
}

input {
  box-sizing: border-box;
  padding: 0.5rem 0.875rem;
  margin: 0.5rem 0;
  background-color: white;
  box-shadow: 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000,
    0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  color: black;
  border: 0 solid;
  font-size: 16px;
  flex-grow: 1;
}

input:hover {
  box-shadow: 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000,
    0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

input:focus {
  outline: none;
}

.users-status {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  position: relative;
}

.add-button {
  padding: 0.5rem 0.875rem;
  border: 0 solid;
  border-radius: 0.5rem;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  background-color: #66bc46;
  color: white;
}

.add-button:hover {
  color: white;
  border: 1px solid #66bc46;
}

.add-button > svg {
  vertical-align: middle;
}

.todo_container {
  display: flex;
  padding: 1rem 0.875rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d3d3d3;
}

.todo {
  flex-grow: 1;
}

.delete_button {
  padding: 0;
  margin: 0;
  font-size: 16px;
  border: 0 solid;
  appearance: button;
  background-color: transparent;
}

.delete_button:focus {
  outline: none;
}

.who_is_here {
  font-size: 11px;
  color: #aaa;
}

.someone_is_typing {
  position: absolute;
  left: 0;
  font-size: 11px;
  color: #aaa;
}

.button-container {
  border-radius: 4px;
  padding: 2px;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.6);
}

.empty-list {
  text-align: center;
  padding: 24px;
}
